<% provide :title, t('Editing ', model: t('activerecord.models.want')) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Back'), @want, data: { role: :button, icon: "arrow-l" } %>