<% provide :title, t('Editing ', model: t('activerecord.models.want')) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Back'), @want, class: "ui-btn ui-icon-arrow-l ui-btn-icon-left" %>