<% provide :locale, I18n.locale.inspect %>
<% provide :title,  t("Listing ", model: t('activerecord.models.want').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<% if @wants.present? %>
  <% if @wants.readable.count > 10 %>
    <ul data-role="listview" data-filter="true" data-filter-theme="c" data-divider-theme="d">
  <% else %>
    <ul data-role="listview" data-divider-theme="d">
  <% end %>
    <% @wants.readable.each do |want| %>
      <li><%= link_to want.title, want %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= t("There is no ", model: t('activerecord.models.want')) %></p>
<% end %>
