<% provide :title, t('New ', model: t('activerecord.models.message')) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Back'), messages_path, data: { role: :button, icon: "arrow-l" } %>
