<% provide :title, t('Editing ', model: t('activerecord.models.offering')) %>
<h1><%= yield(:title) %></h1>

<%= render 'form' %>

<%= link_to t('Back'), offerings_user_path(current_user), data: { role: :button, icon: "arrow-l" } %>