<% provide :title, t('Editing ', model: @class_name.model_name.human) %>
<h1><%= yield(:title) %></h1>

<%= render 'tasks/form' %>

<%= link_to t('Back'), @task, class: "ui-btn ui-icon-arrow-l ui-btn-icon-left" %>
