<% button_label = @task.instance_of?(Offering) ? t('Entrust') : t('Contract') %>
<%= form_for(current_user.entries.build(task_id: @task.id)) do |f| %>
  <div><%= f.hidden_field :task_id %></div>
  <%= f.submit button_label, class: "ui-btn" %>
<% end %>
