<ul data-role="listview" data-inset="true">
  <li><%= link_to t("Personal settings"), users_profile_edit_path %></li>
  <li><%= link_to t("Account settings"), edit_user_registration_path %></li>
</ul>
