<div class="ui-body ui-body-a ui-corner-all">
  <h2>進行中のもの</h2>
  <ul data-role="listview" data-inset="true">
    <li><%= link_to t('activerecord.models.contract'), contracts_user_path(current_user) %></li>
    <li><%= link_to t('activerecord.models.entrust'), entrusts_user_path(current_user) %></li>
  </ul>
  <ul data-role="listview" data-inset="true">
  </ul>
</div>
