<% provide :title, t("Listing ", model: User.model_name.human.pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<% if @users.count > 10 %>
  <ul data-role="listview" data-inset="true" data-divider-theme="d" data-filter="true" data-filter-theme="c" data-filter-placeholder="検索キーワード">
<% else %>
  <ul data-role="listview" data-inset="true" data-divider-theme="d">
<% end %>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>