<% provide :locale, I18n.locale.inspect %>
<% provide :title,  @user.name + ":" + t("Listing ", model: t('activerecord.models.offering').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= link_to t('New ', model: t('activerecord.models.offering')), new_offering_path, class: "ui-btn" %>
<br>
<br>
<% if @offerings.present? %>
  <ul data-role="listview"> 
    <% @offerings.each do |offering| %>
      <li><%= link_to offering.title, offering %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= t("There is no ", model: t('activerecord.models.offering')) %></p>
<% end %>