<% provide :locale, I18n.locale.inspect %>
<% provide :title,  @user.name + ":" + t("Listing ", model: t('activerecord.models.want').pluralize(:locale)) %>
<h1><%= yield(:title) %></h1>

<%= link_to t('New ', model: t('activerecord.models.want')), new_want_path, class: "ui-btn" %>
<br>
<br>
<% if @wants.present? %>
  <ul data-role="listview"> 
    <% @wants.each do |want| %>
      <li><%= link_to want.title, want %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= t("There is no ", model: t('activerecord.models.want')) %></p>
<% end %>
