<div class="ui-body ui-body-a ui-corner-all">
  <p><%= t('Welcome to Koubata Project!') %></p>
  <p><%= t('Be happy by using eco money!') %></p>
  <p><%= t("If you don't have an account you can sign up!") %></p>
  <%= link_to t("Sign up"), new_user_registration_path, class: "ui-btn ui-icon-arrow-r ui-btn-icon-right" %>
</div>
