<% provide :title, t("About") %>
<h1><%= yield(:title) %></h1>
<p>「ハッピー幸畑たすけあい」は、わたしたち一人一人ができることを共有して、みんなで楽しい街をつくる試みです。</p>
<p>あなたの「できること」「頼みたいこと」を教えてください。</p>
<p>そして、お互いにできることをして、みんなでしあわせな街をつくりましょう。</p>
<%= link_to t('Detailed'), detailed_path, class: 'ui-btn' %>