<% provide :title, t("Detailed") %>
<h1><%= yield(:title) %></h1>
<ol>
<li>登録すると「幸」というポイントがもらえます。</li>
<li>自分の「できること」「頼みたいこと」を登録します。</li>
<li>互いの「できること」「頼みたいこと」を見ます。</li>
<li>誰かの「頼みたいこと」を自分ができる場合、「できること」を自分が頼みたい場合、連絡して交渉します。</li>
<li>交渉がまとまったら、実際に実行します。</li>
<li>実行されたら、「幸」ポイントを支払います。</li>
</ol>
