<% provide :title, t("Koubata Project") %>
<div class="ui-body ui-body-a ui-corner-all">
  <% unless user_signed_in? %>
    <%= render "index_not_signed_in" %>
  <% else %>
    <%= render "index_signed_in" %>
  <% end %>
</div>

<br>

<div class="ui-body ui-body-a ui-corner-all">
  <ul data-role="listview" data-inset="true">
    <li><%= link_to t("About"), about_path %></li>
    <li><%= link_to t("Contact"), contact_path %></li>
  </ul>
</div>
