<h1>幸畑プロジェクト</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% unless user_signed_in? %>
<%= link_to t("Sign in"), new_user_session_path %>
<%= link_to t("Didn't receive confirmation instructions?"), new_user_confirmation_path %>
<%= link_to t("Didn't receive unlock instructions?"), new_user_unlock_path %>
<% else %>
<%= link_to t("Sign out"), destroy_user_session_path, method: :delete %>
<% end %>
