<% provide :title, t("Koubata Project") %>
<div class="ui-body ui-body-a ui-corner-all">
  <% unless user_signed_in? %>
    <%= render "index_not_signed_in" %>
  <% else %>
    <%= render "index_signed_in" %>
  <% end %>
</div>
