<div data-role="header" data-position="fixed" data-theme="a">
  <% if user_signed_in? %>
    <%= link_to t("Home"), root_path, class: "ui-btn ui-icon-home ui-btn-icon-notext" %>
  <% elsif !home_page? %>
    <%= link_to t("Home"), root_path, class: "ui-btn ui-icon-home ui-btn-icon-notext" %>
  <% end %>
  <h1><%= t('Koubata Project') %></h1>
  <% if user_signed_in? %>
    <%= render 'layouts/header_navbar_signed_in' %>
  <% end %>
</div><!-- /header -->
