<div data-role="header" data-position="fixed">
  <% if user_signed_in? %>
    <%= link_to t("Menu"), "#menu_panel", class: "ui-btn ui-icon-bars ui-btn-icon-notext" %>
  <% elsif !home_page? %>
    <%= link_to t("Home"), root_path, class: "ui-btn ui-icon-home ui-btn-icon-notext" %>
  <% end %>
  <h1><%= yield(:title) %></h1>
</div><!-- /header -->